{{define "layout"}}<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{template "seo-head" .Layout}}
<link rel="stylesheet" href="/_assets/themes/{{.Layout.Theme.ID}}/theme.css?v={{.Layout.Theme.AssetVersion}}">
<style>:root{ {{.Layout.Theme.TokenCSS}} }</style>
</head>
<body>
{{template "header" .Layout}}
<main class="container main">
{{template "content" .}}
</main>
{{template "footer" .Layout}}
<script src="/_assets/storefront.js" defer></script>
</body>
</html>{{end}}
